body {
    background-color: rgb(222, 221, 221);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    margin: 20px;
}

li a {
    color: white;
}

.website {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

footer {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 348px;
    background-color: black;
    border-radius: 20px;

}