body {
    background-color: rgb(222, 221, 221);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    margin: 20px;
}

li a {
    color: white;
}

.table-mahasiswa {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.table-mahasiswa th, .table-mahasiswa td {
    border: 1px solid;
    color: rgb(52, 51, 51);
    padding: 8px;
    text-align: center;
}

.table-mahasiswa th {
    background-color: gray;
}

.table-mahasiswa tr:nth-child(even) {
    background-color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 183px;
    background-color: black;
    border-radius: 20px;

}
